.app {
  display: flex;
  flex-flow: column;
  position: absolute;
  height: 100%;
  width: 100%;
}

.header {
  background-image: linear-gradient(lightgrey, white);
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
}

.list {
  background-image: linear-gradient(to right, rgb(223, 229, 255) , rgb(255, 203, 61));
  flex-grow: 1;
  width: 100%;
}

.loader {
  position: absolute;
  top: 0;
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  width: 100%;
}

.header input {
  margin: 4px 2px;
}

.header .button {
  background-color: white;
  padding: 4px 12px;
  border-style: solid;
  border-width: 2px;
  border-color: royalblue;
  border-radius: 3px;
  text-align: center;
  
  cursor: pointer;
  float: right;
}

.error-page {
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
}

.error-page span {
  display: inline-block;
  margin: 15px 0 0 15px;
}

.error-page span p {
  margin: 5px;
}

.list-element {
  background-color: aliceblue;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid lightblue;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.list-element span {
  display: block;
  margin: 15px;
  
  text-align: center;
}

.list-element .title {
  max-height: 36px;
}

.list-element .author {
  max-height: 18px;
}

.list-element .uploaded {
  max-height: 18px;
}

.lds-dual-ring {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid lightblue;
  border-color: lightblue transparent lightblue transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.material-icons {
  display: inline-block;
  font-size: 36px;
}

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

